<article class="markdown-body">
  <h1>統計情報</h1>

  <table>
    <tr>
      <th>Model</th>
      <th>count</th>
    </tr>
    <tr>
      <td>User</td>
      <td><%= @user_count %></td>
    </tr>
    <tr>
      <td>Song</td>
      <td><%= @song_count %></td>
    </tr>
    <tr>
      <td>Active Song</td>
      <td><%= @active_song_count %></td>
    </tr>
    <tr>
      <td>Delete Song</td>
      <td><%= @delete_song_count %></td>
    </tr>
    <tr>
      <td>ExScore</td>
      <td><%= @ex_score_count %></td>
    </tr>
    <tr>
      <td>ExScoreDifference</td>
      <td><%= @ex_score_difference_count %></td>
    </tr>
    <tr>
      <td>UploadStatus</td>
      <td><%= @upload_status_count %></td>
    </tr>
  </table>
</article>