<h2>ユーザー編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "form-control", required: true %>
  </div>
  
  <div class="form-group">
    <%= f.label :current_password %>
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :新しいパスワード %>
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    <% if @minimum_password_length %>
    <small id="passwordHelp" class="form-text text-muted">新しくパスワードを設定する場合こちらに入力してください(<%= @minimum_password_length %>文字以上)</small>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :新しいパスワードをもう一度入力してください %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", required: true %>
  </div>

  <%= f.submit "更新", class: "btn btn-primary" %>
<% end %>
