<article class="markdown-body">
  <h1>マイページ</h1>
  <table>
    <tr>
      <td>username</td>
      <td><%= @user.username %></td>
    </tr>
    <tr>
      <td>email</td>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <td>スコア公開設定</td>
      <td><%= @user.score_opened == 'publiced' ? '公開' : '非公開' %></td>
    </tr>
    <tr>
      <td>ランキング公開設定</td>
      <td><%= @user.ranking_opened == 'open' ? '公開' : '非公開' %></td>
    </tr>
  </table>

  <h2>EXスコア情報</h2>
  <% if @user.ex_scores.count > 0 %>
    <p><%= link_to '楽曲別EXスコア一覧', users_ex_scores_index_path(user_id: @user.id), class: "btn btn-primary" %></p>

    <h3>割合分布</h3>
    <table>
      <tr>
        <th></th>
        <th>個数</th>
      </tr>
      <tr>
        <td>MAX</td>
        <td><%= @s_puc_count %></td>
      </tr>
      <tr>
        <td>99%↑</td>
        <td><%= @ex_scores.select { |ex_score| ex_score.percentage >= 0.9900 }.count %></td>
      </tr>
      <tr>
        <td>98%↑</td>
        <td><%= @ex_scores.select { |ex_score| ex_score.percentage >= 0.9800 }.count %></td>
      </tr>
      <tr>
        <td>95%↑</td>
        <td><%= @ex_scores.select { |ex_score| ex_score.percentage >= 0.9500 }.count %></td>
      </tr>
      <tr>
        <td>90%↑</td>
        <td><%= @ex_scores.select { |ex_score| ex_score.percentage >= 0.9000 }.count %></td>
      </tr>
      <tr>
        <td>ALL</td>
        <td><%= @ex_scores.count %></td>
      </tr>
    </table>

    <% if @s_puc_count > 0 %>
      <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#show">レベル別S-PUC数</button>
      <div id="show" class="collapse" style="padding-top: 1rem;">
        <table>
          <tr>
            <td>レベル</td>
            <td>個数</td>
          </tr>
          <% @user.ex_scores.s_puc_count_by_level(@user.id).each do |key, value| %>
            <tr>
              <td><%= key %></td>
              <td><%= value %> <span class="text-muted" style="font-size: 8px;">/ <%= Song.where(level: key).count %></span></td>
            </tr>
          <% end %>
        </table>
      </div>
    <% end %>
  <% else %>
    <p>スコアがまだ登録されていません</p>
    <p>スコア登録は<%= link_to 'こちら', users_ex_scores_new_path %>から。</p>
  <% end %>
</article>