<h2>ユーザーマイページ</h2>

<p>
  <%= link_to "logout", destroy_user_session_path, method: :delete,class: "glyphicon glyphicon-log-out"  %>
  <%= link_to "changePassword", edit_user_registration_path, class: "glyphicon glyphicon-log-out"  %>
</p>


<p>username : <%= @user.username %></p>
<p>player_id : <%= @user.player_id ? @user.player_id : "-" %></p>
<p>player_name : <%= @user.player_name ? @user.player_name : "-" %></p>
<p>volforce : <%= @user.volforce ? @user.volforce : "-" %></p>
<p>arena_rank : <%= @user.arena_rank ? @user.arena_rank : "-" %></p>
<p>arena_score : <%= @user.arena_score ? @user.arena_score : "-" %></p>