<h2>パスワード変更</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.hidden_field :reset_password_token %>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control", required: true %>
    <% if @minimum_password_length %>
    <small id="passwordHelp" class="form-text text-muted"><%= @minimum_password_length %>文字以上</small>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", required: true %>
  </div>

  <%= f.submit "パスワードを再設定", class: "btn btn-primary" %>
<% end %>
