<h2>ユーザ一覧</h2>

<table class="table table-sm">
  <div style="display: flex; align-items: flex-end; margin-bottom: 1rem;">
    <span style="margin-left: auto;">件数: <%= @result_count %>件</span>
  </div>
  <thead class="sticky-top bg-white" style="top: 56px;">
    <tr style="font-size: 12px;">
      <th scope="col"><%= sort_link(@q, :id, "id")%></th>
      <th scope="col"><%= sort_link(@q, :username, "username")%></th>
      <th scope="col"><%= sort_link(@q, :score_opened, "スコア公開情報") %></th>
      <th scope="col"><%= sort_link(@q, :ranking_opened, "ランキング公開情報") %></th>
      <th scope="col"><%= sort_link(@q, :created_at, "作成日時")%></th>
      <th scope="col"><%= sort_link(@q, :updated_at, "更新日時")%></th>
      <th scope="col"><%= sort_link(@q, :updated_at, "BAN")%></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td style="word-break: break-word;"><%= link_to user.username, edit_admins_user_path(user.id) %></td>
      <td><%= user.score_opened %></td>
      <td><%= user.ranking_opened %></td>
      <td><%= user.created_at.to_s(:datetime_jp) %></td>
      <td><%= user.updated_at.to_s(:datetime_jp) %></td>
      <td><%= user.deleted %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users, window: 1 %>