<h2>EXスコア一覧</h2>
<% if @user != current_user %>
  <p><%= @user.username %> さんのスコア一覧です</p>
<% end %>

<% if @ex_scores.count > 0 %>
  <table class="table table-sm">
    <div style="display: flex; align-items: flex-end; margin-bottom: 1rem;">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filterModal">
        絞り込み
      </button>
      <span style="margin-left: auto;">件数: <%= @result_count %>件</span>
    </div>
    <thead class="sticky-top bg-white" style="top: 56px;">
      <tr style="font-size: 12px;">
        <% if user_signed_in? %><th scope="col"></th><% end %>
        <th scope="col"><%= sort_link(@q, :song_name, "曲名")%></th>
        <th scope="col"><%= sort_link(@q, :song_difficult, "難易度")%></th>
        <th scope="col"><%= sort_link(@q, :song_level, "Lv")%></th>
        <th scope="col"><%= sort_link(@q, :ex_score, "EX Score")%></th>
        <th scope="col"><%= sort_link(@q, :max_minus, "MAX-") %></th>
        <th scope="col"><%= sort_link(@q, :percentage, "%") %></th>
      </tr>
    </thead>
    <tbody>
      <% @ex_scores.each do |ex_score| %>
      <tr>
        <% if user_signed_in? %><td><%= render partial: 'favorite_songs/favorite_song', locals: {song: ex_score.song} %></td><% end %>
        <td style="word-break: break-word;"><%= link_to ex_score.song.name, ranking_path(ex_score.song.id) %></td>
        <td><span class="badge badge-bg-<%= ex_score.song.difficult %>"><%= ex_score.song.difficult %></span></td>
        <td><%= ex_score.song.level %></td>
        <td><%= ex_score.ex_score %></td>
        <td>
          <% if ex_score.max_minus != 0 %>-<% end %><%= ex_score.song.max_ex_score === -1 ? '' : ex_score.max_minus %>
        </td>
        <td><%= (ex_score.percentage * 100).round(4) %>%</td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div style="display: flex; align-items: flex-end; margin-bottom: 1rem;">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filterModal">
      絞り込み
    </button>
    <span style="margin-left: auto;">件数: <%= @result_count %>件</span>
  </div>
<% end %>

<!-- Modal -->
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="filterModalTitle">絞り込み設定</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= search_form_for @q, class: "form-group", url: users_ex_scores_index_path(user_id: @user.id) do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <label for="name">楽曲名</label>
            <%= f.search_field :song_name_cont, class: "form-control" %>
          </div>
          <div class="form-group">
            <label for="difficult">難易度</label><br />
            <% Song.difficults.each do |difficult| %>
              <%= f.check_box :song_difficult_eq_any, { multiple: true, include_hidden: false }, difficult[1] %>
              <span style="margin-right: 0.6em;" class="badge badge-bg-<%= difficult[0] %>"><%= difficult[0] %></span>
            <% end %>
          </div>
          <div class="form-group">
            <label for="level">Lv</label><br />
            <% Song.array_levels.each do |level| %>
              <%= f.check_box :song_level_eq_any, { multiple: true, include_hidden: false }, level %>
              <span><%= level %></span>
            <% end %>
          </div>
          <div class="form-group">
            <label for="favorite">お気に入り譜面</label>
            <%= f.check_box :song_favorite_songs_user_username_present, { include_hidden: false } %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit '検索', class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= paginate @ex_scores, window: 1 %>